.openSidebarAnimation-div {
    left: -100%; 
    animation: slideIn .3s forwards;
}
  
@keyframes slideIn {
    0% {
        left: -100%; 
    }
    100% {
        left: 0;
    }
}
  
.closeSidebarAnimation-div {
    animation: slideOut .3s forwards;
}
  
@keyframes slideOut {
    0% {
        left: 0; 
    }
    100% {
        left: -100%;
    }
}
